.intro{
    display: flex;
    margin: 20px;
}
.intro1{
    place-items: center;
    display: grid;
    justify-content: space-around;
}
#shoe{
height: 500px;
width: 500px;
border: none;
border-radius: 50%;
}
#shoe1{
    height: 400px;
    width: 1000px;
    border: none;
}
#shoe2{
    height: 100px;
    width: 100px;
    border: none;
    border-radius: 50%;
    margin-left: 50px;
}
.p5{
    font-size: 50px;
    font-weight: 5px;
    color: brown;
    text-align: right;
}
.p6{
    font-size: 35px;
    font-weight: 5px;
    color: rgb(156, 65, 65);
}
#navi{
    background-color: rgb(146, 177, 100);
    padding: 10px;
    margin: 3px;
}
.shoes{
    display: grid;
    place-items: center;
}
#p10{
    margin-left: 50px;
    margin-top: 0px;
    color: black;
    font-size: 30px;
}