.login-form{
    border: 1px solid;
    width: 250px;
    border-radius: 20px;
    padding: 25px;
    font-size: 25px;
    background-color: beige;
}
main{
    display: grid;
    place-items: center;
    height: 500px;
}
.login-form input[type]{
    width: 250px;
    height: 30px;
    font-size: 18px;
}
body{
    background-color: rgb(245, 243, 248);
}
.head{
    margin: none;
    place-self: center;
    font-size: 20px;
}
#connexion{
    display: grid;
    place-items: center;
    margin-top: 20px;
}
.button-create{
    padding: 10px;
    font-size: 20px;
    color: rgb(41, 30, 16);
    background-color: azure;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
#t{
    padding: 10px;
    font-size: 20px;
    color: rgb(48, 33, 14);
    background-color: azure;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}
.button-create:hover{
    color: black;
    background-color: rgb(250, 244, 236);
}
#t:hover{
    color: black;
    background-color: rgb(250, 244, 236);
}
